body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #212D1A;
}

.navbc {
    background-color: rgba(28, 30, 16, 0.813);
    padding: 7px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.dirnav {
    margin-right: 4%;
}

.homepagebc {
    margin-top: 3px;
    display: flex;
    align-items: center;
}

.navbc a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin: 0 15px;

    &:hover{
        color: #EEBE7B;
    }

    &.active{
        color: #EEBE7B;
    }
}

.logobcso {
    height: 40px;
}

.banner {
    color: white;
    height: 517px;
    top: 0;
    left: 0;
}

.banner, #bnn {
    /* background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://lssd.gta.world/images/banners/26.webp') center/cover; */
    background-position: center;
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
    color: white;
    padding: 0 20px;
}

.bannerimg {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.banner-text {
    margin-top: -1%;
    font-size: 40px;
    line-height: 1.2;
    font-weight: 700;
    font-style: normal;
}

.newsbcso {
    padding: 80px 0;
    justify-content: center;
    align-items: center;
}

.newsinfo{
    height: 40dvh;
}

.texthis h2 {
    font-size: 2.5rem;
    margin: 10px 20px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 700;
    color: #1C1E10;
}

.Txtx{
    display: flex;
    flex-direction: column;
    margin-left: 15%;

    & a{
        text-decoration: none;
        color: #1C1E10;
    }
}

.Tnw a{
    text-decoration: none;
    font-size: 1.5rem;
    margin-bottom: 30px;
    font-weight: 700;
    color: #1C1E10;
}

.imgandtx{
    display: flex;
    flex-direction: row;
    gap: 10%;

}

.aboutnews{
    width: 70%;
    text-align: justify;
    gap: 120px;
}

.downs{
    width: 300px;
    margin-left: -43%;
}

.imgnews{
    align-items: center;
    justify-content: center;
}

.footer {
    background-color: #354b27;
    color: white;
    padding: 30px 10%;
    font-family: Arial, sans-serif;
}

.footerall {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.footerlg img {
    max-height: 150px;
}

.footerinfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dep {
    display: flex;
    align-items: center;
    gap: 12px;
}

.imgpers {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    width: 36px;
    height: 36px;
}

.txtdep p {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
}

.footerinfo hr {
    border: none;
    border-top: 2px solid rgb(255, 255, 255);
    margin: 10px 0;
}

.footer911 img {
    margin-top: -90%;
    margin-left: 57%;
    max-height: 50px;
}

.footerabt {
    margin-top: 40px;
    text-align: center;
}

.footerabt p {
    font-size: 14px;
    color: #fff;
    margin: 0;
}

.dev p{
    color: #92a588;
}

@media (max-width: 768px) {
    .banner h2 {
        font-size: 2rem;
    }
    
    .banner-text {
        font-size: 1.8rem;
    }

    .headsnv{
        flex-direction: column;
        gap: 20px;
    }

    .navbc{
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }


}